version: 2
updates:
  - package-ecosystem: "docker"
    directories:
      - "src/cartesi"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "docker" 